extends layout
block content 
 ul 
    li
    a(href="../index") Nuova unità
    li
    a(href="/listaunita") Lista unità
    img(src = `/images/${unita[0].Unit}.png`)
    h1 #{unita[0].Unit}
    p #{unita[0].Cost}
    p #{unita[0].Hit_Speed}
    p #{unita[0].Speed}
    p #{unita[0].Deploy_Time}
    p #{unita[0].Range}
    p #{unita[0].Target}
    p #{unita[0].Count}
    p #{unita[0].Transport}
    p #{unita[0].Type}
    p #{unita[0].Rarity}
    